
<div class="<%= type === 'mini' ? 'mini-logo-container position-absolute' : 'logo-container position-fixed top-0 start-0' %>">
    <img src="<%= type === 'mini' ? '/public/Images/logo2.png' : '/public/Images/logo-main.png' %>"
         alt="Cortex"
         class="logo-img">
</div>
