.dashboard-table .sortable {
    cursor: pointer;
    user-select: none;
}

.dashboard-table .arrow {
    font-size: 12px;
    margin-left: 4px;
    opacity: 0.6;
}

.dashboard-table th {
    cursor: pointer;
    user-select: none;
}

.dashboard-table th.asc::after {
    content: " ▲";
    font-size: 12px;
}

.dashboard-table th.desc::after {
    content: " ▼";
    font-size: 12px;
}

.dashboard-table #table-img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
    outline: 1.7px solid #7d2359;
    outline-offset: 1.3px;
}

.dashboard-table td {
    vertical-align: middle;
}


@media (max-width: 992px) {

    .dashboard-logo-container {
        top: 1rem;
        right: 1rem;
    }

    .dashboard-logo-container .logo-img {
        width: 4rem;
    }

    .dashboard-controls {
        margin-top: 2rem;
        flex-direction: column;
    }

    .mb-md-5.mt-md-4.px-5.py-5 {
        padding: 2rem !important;
    }

    #table-img {
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 576px) {

    h2.fw-bold {
        font-size: 1.4rem;
    }

    .dashboard-logo-container {
        position: static !important;
        text-align: center;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        padding-top: 10px;
        background: #172349;
    }

    .dashboard-logo-container .logo-img {
        width: 9rem;
    }

    .inner-container {
        margin-top: 3rem;
    }

    .mb-md-5.mt-md-4.px-5.py-5 {
        padding: 1.25rem !important;
    }

    form.d-flex {
        flex-direction: column;
    }

    form.d-flex input,
    form.d-flex .btn {
        width: 100%;
        margin: 0.25rem 0;
    }

    h2>a>button {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    table {
        font-size: 0.85rem;
    }

    #table-img {
        height: 55px;
        width: 55px;
    }

    td,
    th {
        white-space: nowrap;
    }
}